.card {
    display: block;
    color: $primary-color;
}

.card__img {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.card__headline {
    margin-bottom: 5px;

    @media (min-width: $desktop-width) {
        margin-bottom: 20px;
    }
}