.contact {
    background-color: $grey-color;

    @media (min-width: $desktop-width) {
        position: relative;
        padding-bottom: 100px;
    }
}

.contact__map {
    width: 100%;
    height: 300px;
    z-index: 0;

    @media (min-width: $desktop-width) {
        height: 630px;
    }
}

.contact__box {
    padding: 35px 10px 50px;
    font-weight: 400;
    background-color: $white-color;

    @media (min-width: $desktop-width) {
        position: absolute;
        top: 70px;
        right: 50px;
        width: 420px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        padding: 55px 45px 0;
    }

    @media (min-width: $large-width) {
        right: 110px;
        width: 450px;
    }
}

.contact__title {
    font-weight: 500;
    margin-bottom: 25px;

    @media (min-width: $large-width) {
        margin-bottom: 40px;
    }
}

.contact__address {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    font-style: normal;
    margin-bottom: 30px;
}

.contact__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 7px;
    margin-bottom: 30px;

    a {
        color: $primary-color;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $yellow-color;
        }
    }

    @media (min-width: $large-width) {
        margin-bottom: 50px;
    }
}

.contact__btn {
    @media (min-width: $desktop-width) {
        margin-left: -45px;
    }
}