.form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    background-color: $grey-color;
    color: $dark-color;

    fieldset {
        border: none;
    }

    @media (min-width: $desktop-width) {
        position: relative;
        transform: translate(0, 0);
        width: 280px;
    }
}

.form__title {
    padding: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    background-color: #F0F0F0;
    text-align: center;
    letter-spacing: 3.6px;
    text-transform: uppercase;

    span:last-child {
        display: none;
    }

    @media (min-width: $desktop-width) {
        text-align: left;

        span:first-child {
            display: none;
        }

        span:last-child {
            display: block;
        }
    }

    @media (min-width: $large-width) {
        padding: 25px 30px;
    }
}

.form__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 23px;
        height: 1px;
        left: 0;
        background-color: $primary-color;
        transition: all 0.3s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    @media (min-width: $desktop-width) {
        display: none;
    }
}

.form__body {
    padding: 30px 10px;

    @media (min-width: $desktop-width) {
        padding-bottom: 0;
    }

    @media (min-width: $large-width) {
        padding: 30px 30px 0;
    }
}

.form__wrap {
    width: 240px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 40px;

    @media (min-width: $large-width) {
        width: unset;
    }
}

.form__legend {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: $dark-color;
    display: block;
}

.form__fieldset {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.form__fieldset--area {
    column-gap: 10px;

    .input {
        width: 95px;
    }
}

.form__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
}

.form__label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

input[type="checkbox"]:checked+.mark::before,
input[type="radio"]:checked+.mark::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: $yellow-color;
    top: 3px;
    left: 3px;
}

input[type="radio"]:checked+.mark-circle::before {
    border-radius: 50%;
}

input[type="checkbox"]:hover+.mark,
input[type="checkbox"]:focus+.mark,
input[type="radio"]:hover+.mark,
input[type="radio"]:focus+.mark {
    border-color: $yellow-color;
}

.form__control {
    display: flex;

    .form__reset {
        background-color: #E0DFDC;
    }

    button {
        width: 50%;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
    }

    @media (min-width: $desktop-width) {
        margin-left: -10px;
        margin-right: -10px;
    }

    @media (min-width: $large-width) {
        margin-left: -30px;
        margin-right: -30px;
    }
}

.form__personal {
    .form__input {
        margin-bottom: 30px;
    }
}

.form__subs {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;

    p {
        opacity: 0.8;
    }
}

.form__request {
    align-self: center;
}

.form__policy {
    font-size: 14px;
    text-decoration: underline;
    color: rgba(61, 61, 61, 0.65);
    align-self: center;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $yellow-color;
    }
}