.header {
    position: relative;
    padding-top: 10px;

    &.opened {
        .header__nav {
            transition: transform 0.8s ease-in-out;
            transform: translateX(0);
        }

        .header__toggle {

            span {
                background-color: transparent;
                transition: background-color 0.3s;

                &::before {
                    transition: all 0.3s;

                    transform: rotate(45deg);
                }

                &::after {
                    transition: all 0.3s;

                    transform: rotate(-45deg);
                    top: 8px;
                }
            }
        }
    }

    &-mb {
        @media (min-width: $tablet-width) {
            margin-bottom: 20px;
        }

        @media (min-width: $desktop-width) {
            margin-bottom: 60px;
        }
    }

    @media (min-width: $tablet-width) {
        border-bottom: 1px solid rgba(0, 32, 74, 0.1);
        padding-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
        padding-top: 15px;
    }
}

.header__container {

    @media (min-width: $tablet-width) {
        position: relative;
        display: grid;
        grid-template-columns: 100px 1fr 130px;
    }

    @media (min-width: $desktop-width) {
        grid-template-columns: 210px 1fr 130px;
    }
}

.header__img {
    width: 92px;
    height: 24px;
    display: inline-block;

    @media (min-width: $desktop-width) {
        width: 177px;
        height: 46px;
    }
}

.header__catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 6px;
    color: $dark-color;
    background-color: $yellow-color;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    transition: all 0.3s ease-in-out;

    svg {
        fill: $dark-color;
    }

    &-hidden {
        @media (min-width: $tablet-width) {
            display: none;
        }
    }

    &-bold {
        @media (min-width: $tablet-width) {
            font-weight: 700;
            font-size: 15px;
        }
    }

    &:hover {
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        background-color: darken($yellow-color, 10%);
    }

    @media (min-width: $tablet-width) {
        padding: 38px 20px;
        max-width: 125px;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;

        z-index: 2;
        position: absolute;
        top: -10px;
        right: 10px;

        svg {
            display: none;
        }
    }

    @media (min-width: $desktop-width) {
        top: -15px;
        padding: 46px 23px;
    }
}

.header__toggle {
    position: absolute;
    width: 44px;
    height: 34px;
    padding: 10px;
    z-index: 2;
    top: 5px;
    right: 0;

    span {
        position: relative;
        display: block;
        top: calc(50% - 16px);
        width: 23px;
        height: 1px;
        background-color: $primary-color;
        transition: all 0.3s;


        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 23px;
            height: 1px;
            left: 0;
            background-color: $primary-color;
            transition: all 0.3s;
        }

        &::before {
            top: 8px;
        }

        &::after {
            top: 16px;
        }
    }

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.header__nav {
    @media (max-width: 767px) {
        transform: translateX(-150%);
        width: 100%;
        transition: transform 0.8s ease-in-out;
        position: absolute;
        z-index: 5;
        background-color: $white-color;
        margin-left: -10px;
    }

    @media (min-width: $tablet-width) {
        justify-self: center;
    }
}