.input {
    padding: 15px 22px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #525252;
    background-color: $white-color;
    border: 1px solid #EBE9E6;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
}

input:hover,
input:focus {
    border-color: $yellow-color;
}