.promo {

    @media (min-width: $desktop-width) {
        margin-bottom: 100px;
    }
}

.promo__wrap {
    width: 100%;
    background-image: url('../img/promo-01_mobile.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 90%;

    @media (min-width: $desktop-width) {
        width: 50%;
    }
}

.promo__img {
    display: block;
    padding-left: 20px;
    padding-top: 25px;
    backdrop-filter: blur(3px);
    background-color: rgb(255, 255, 255, 0.2);
    width: 100%;
    background: linear-gradient(0deg, $primary-color 30%, transparent 30%);

    @media (min-width: $tablet-width) {
        padding-left: 35px;
        padding-top: 40px;
    }

    @media (min-width: $desktop-width) {
        background: linear-gradient(270deg, $primary-color 12%, transparent 12%);
    }


}

.promo__container {
    position: relative;
    max-width: 450px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
        max-width: unset;
    }

    @media (min-width: $desktop-width) {
        display: flex;
    }
}

.promo__wrapper {
    position: relative;
    color: $white-color;

    @media (min-width: $desktop-width) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

}

.promo__box {
    background-color: $primary-color;
    padding: 40px 55px 90px 30px;

    @media (min-width: $desktop-width) {
        padding: 50px;
        flex-grow: 1;
    }

    @media (min-width: $large-width) {
        padding: 60px 100px 30px 50px;
    }
}

.promo__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;

    @media (min-width: $desktop-width) {
        font-size: 35px;
        line-height: 35px;
    }

    @media (min-width: $large-width) {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 25px;
    }
}

.promo__description {
    font-weight: 275;
    font-size: 14px;
    line-height: 19px;

    @media (min-width: $desktop-width) {
        font-size: 16px;
        line-height: 27px;
    }
}

.promo__link {
    width: max-content;
    transform: translateY(-100%);

    @media (min-width: $desktop-width) {
        transform: translateY(0);
    }
}