.request {
    background-color: $grey-color;

    @media (min-width: $desktop-width) {
        padding-bottom: 110px;
    }
}

.request__banner {
    position: relative;
    padding: 55px 30px;
    background-color: $primary-color;
    color: $white-color;
    background-image: url('../img/design-01_mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    text-align: center;

    @media (min-resolution: 2dppx) {
        background: no-repeat url('../img/design-01_mobile@2x.jpg');
        background-size: cover;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(358.04deg, rgba(0, 32, 74, 0.69) 59.83%, rgba(0, 32, 74, 0) 120.08%);
        z-index: -1;
    }

    @media (min-width: $tablet-width) {
        padding: 80px 35px 100px;
    }

    @media (min-width: $desktop-width) {
        padding: 100px 50px 200px;
        background-image: url('../img/order_background.jpg');

        @media (min-resolution: 2dppx) {
            background: no-repeat url('../img/order_background@2x.jpg');
            background-size: cover;
        }
    }
}

.request__wrap {
    text-align: center;
    max-width: 350px;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
        max-width: 495px;
    }
}

.request__title {
    margin-bottom: 15px;

    @media (min-width: $desktop-width) {
        margin-bottom: 40px;
    }
}

.request__note {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    @media (min-width: $desktop-width) {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
    }
}

.request__container {
    max-width: 800px;
    margin: 0 auto;
    background-color: $white-color;

    @media (min-width: $desktop-width) {
        margin-top: -80px;
        position: relative;
        z-index: 1;
    }
}

.request__box {
    background-color: $yellow-color;
    padding: 22px 10px 30px;
    text-align: center;

    h2 {
        margin-bottom: 15px;
    }

    @media (min-width: $tablet-width) {
        padding-left: 105px;
        padding-right: 105px;
    }
}

.request__form {
    padding: 30px 10px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    fieldset {
        border: none;
    }

    @media (min-width: $tablet-width) {
        padding: 50px 105px;

    }
}